@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mapbox-popup-tip-color: rgba(64, 64, 64, 0.8); /* Default color for the triangle tip */
}

.custom-popup .mapboxgl-popup-content {
  background: transparent;
  box-shadow: none;
  padding: 0;
  max-width: 250px;
}

.custom-popup .mapboxgl-popup-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.custom-popup .mapboxgl-popup-close-button:hover {
  opacity: 1;
}

.custom-popup .mapboxgl-popup-close-button svg {
  width: 20px;
  height: 20px;
}

.custom-popup .mapboxgl-popup-close-button {
  right: 5px;
}

.custom-popup.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.custom-popup.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.custom-popup.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: var(--mapbox-popup-tip-color);
}
.custom-popup.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.custom-popup.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.custom-popup.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: var(--mapbox-popup-tip-color);
}
.custom-popup.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: var(--mapbox-popup-tip-color);
}
.custom-popup.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: var(--mapbox-popup-tip-color);
}

.mapboxgl-ctrl {
	display: none !important;
}

.map-container {
	@apply drop-shadow-lg
}

.map-container .mapboxgl-map {
	@apply border-2 border-[#797979] rounded-2xl;
}